* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

body {
  font-family: 'PingFang SC', -apple-system, BlinkMacSystemFont,
    'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  font-size: .6rem;
  -webkit-text-size-adjust: none;
}

a,
a:active,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
  user-select: none;
}

ol,
ul {
  list-style: none;
}

a, input, button { 
  outline: none;
  border: none;
}
